.F-popup_license__descr Здесь краткое описание на две строки нового денежного сервиса

.F-popup-gall(data-license-gall)
    .F-popup-gall__item
        a(href="#"): img(src="pic/license/license-1.png" alt="")
    .F-popup-gall__item
        a(href="#"): img(src="pic/license/license-2.png" alt="")





